.badge {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  background: var(--ifm-color-emphasis-200);
}

.pass,
.fail {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  font-weight: 600;
}

.pass {
  background: var(--ifm-color-success-contrast-background);
  color: var(--ifm-color-success-contrast-foreground);
}

.fail {
  background: var(--ifm-color-danger-contrast-background);
  color: var(--ifm-color-danger-contrast-foreground);
}

.icon {
  font-size: 1.1rem;
}
